@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/rubik-v21-latin-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('../fonts/rubik-v21-latin-500.woff2') format('woff2'),
    url('../fonts/rubik-v21-latin-500.woff') format('woff'); 
}


@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('../fonts/noto-sans-v27-latin-500.woff2') format('woff2'),
    url('../fonts/noto-sans-v27-latin-500.woff') format('woff'); 
}