.result {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    padding-top: 11px;
    padding-bottom: 11px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 306px;
        padding-right: 41px;
    }
    
    &__text {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #222531;        
    }
    
    &__num {
    }
    
    &__btn {
        display: flex;
        gap: 5px;
        align-items: center;
        border: none;
        background: #A6B0C3;
        border-radius: 4px;
        padding: 5px 13px;
    }
    
    &__btn-icon {
        border-radius: 4px;
    }
    
    &__btn-text {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}
.container {
}
